{% extends 'base.html' %}

{% block title %}ONLINE GAS BOOKING{% endblock %}

{% block content %}
{% include  'nav.html' %}
<div class="container" style="alignment:center;">
        <div></div>
        <h1  class="t" style="color: black; font-size: 36px; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" >SEE THE INFORMATION OF USER AND ADMIN</h1><br>
    </div>
           <br>
        <br>
    <section class="container" style="text-align:center; padding:50px;">
        <!-- Login Button with Animation -->
           <a href = "{% url 'client_list' %}" class="btn btn-gas animated-button" style="background-color: rgba(0, 255, 0, 0.2);text-align:center;"> View the Client_list</a> ||

        <!-- Register Button with Animation -->
           <a href = "{% url 'admin_list' %}" class="btn btn-gas animated-button" style="background-color: rgba(255, 0, 0, 0.2);text-align:center;"> View the Admin_list</a>
    </section>
        <!-- Image -->
</div>
{% endblock %}
