{% extends 'base.html' %}

{% block title %}ONLINE GAS BOOKING{% endblock %}

{% block content %}
{% include  'nav.html' %}
<header>
      <h1 class="mt-5 t" style="color:#FFFFF0;font-size: 34px;">Contact Gas Booking Service</h1>

</header>

    <div class="container">


        <!-- Contact Information -->
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="contact-info">
                    <h1 class="t">Contact Information</h1>
                    <br>
                    <h2>If you have any questions or need assistance, feel free to contact us using the following details:</h2><br>
                    <ul>
                        <li>Email :-  <a href="mailto:techamplifier@gasbookingservice.com">techamplifier@gasbookingservice.com</a></li> <br>
                        <li>Phone :-   <a href="tel:+91 7447679060">+91 7447679060 </a></li> <br>
                        <li>Address :-  Sant Shrusthi Building , Room no 208 , Pune, India</li> <br>
                        <li>Social :- You can get connected on social @techampliefiers </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<hr>

    <footer>
        &copy; 2023 Gas Booking Services
    </footer>
    <!-- Add Bootstrap JS and Popper.js (for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+mbx4nXknqqKt8Jw/J5qh5F5t6Fj5B5zq5U5PCU5bPq5f5B5M" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-bZ1mK6DQjg5f6yF6F7fOJCUrF5n5z5B5r5g5U5z5Z5P5Z5f5H5F5v5P5v5g5T5z5f5B5M" crossorigin="anonymous"></script>
{% endblock %}
