{% extends 'base.html' %}

{% block title %}ONLINE GAS BOOKING{% endblock %}

{% block content %}
{% include  'nav.html' %}
    <header>
        <h1 class="t" style="color:#FFFFF0;font-size: 34px;">Welcome to Our Gas Agency</h1>

    </header>

    <section id="about" class="info-section">
        <h2 class="t" style="font-size: 34px;">About Us</h2>
         <p>We are the leading gas booking agency in the city. We offer a wide range of gas products and services, including gas cylinders, gas stoves, and gas heaters. We also offer gas delivery services.</p>
    </section>

    <section id="products" class="info-section">
        <h2 class="t" style="font-size: 34px;">Our Products</h2>
        <ul>
            <li>Propane Gas</li>
            <li>Cooking Gas</li>
            <li>Industrial Gas</li>
        </ul>
    </section>

    <section id="services" class="info-section">
        <h2 class="t" style="font-size: 34px;">Our Services</h2>
        <ul>
            <li>Gas Delivery</li>
            <li>Gas Installation</li>
            <li>Gas Safety Inspections</li>
            <li>Emergency Gas Leak Repairs</li>
            <li>Gas Appliance Maintenance</li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2023 Gas Agency. All rights reserved.</p>
    </footer>
{% endblock %}















