{% extends 'base.html' %}

{% block title %}ONLINE GAS BOOKING{% endblock %}

{% block content %}
{% include  'nav.html' %}
    <div class="container" style="text-align:center;">
        <h1 class="t" style="color: black; font-size: 36px; font-family: 'Arial', sans-serif; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);" >LOGIN / have you register yourself ?</h1><br>

        <!-- Login Button with Animation --> <h4>SIGN IN || LOGIN TO GAS BOOKING SYSTEM</h4><br>
        <a href = "{% url 'login' %}" class="btn btn-gas animated-button" style="background-color: rgba(255, 0, 0, 0.2);">Login</a>
<br>
        <!-- Register Button with Animation --><br>
        <h4>SIGN UP || REGISTER TO GAS BOOKING SYSTEM</h4><br>
        <a href = "{% url 'signup' %}" class="btn btn-gas animated-button" style="background-color: rgba(255, 0, 0, 0.2);">Register</a> <br>
        <br>
    <h4>VIEW ALL USER || GAS BOOKING SYSTEM</h4><br>
        <a href = "{% url 'choice' %}" class="btn btn-gas animated-button" style="background-color: rgba(0, 0, 255, 0.2);">View details</a>
        <br>

        <!-- Image -->
    </div>
{% endblock %}
