{% extends 'base.html' %}

{% block title %}ONLINE GAS BOOKING{% endblock %}

{% block content %}
{% include  'nav.html' %}
    <div class="container" style="text-align: center;">
        <h1  class="t" style="color:black; font-size: 36px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" >Login AS <span style="color:green"> USER </span> OR <span style="color:red">ADMIN </span> </h1><br>
<br>
        <br>
        <br>
        <!-- Login Button with Animation -->
        <a href = "{% url 'log_client' %}" class="btn btn-gas animated-button" style="background-color: rgba(0, 255, 0, 0.2);">Login as an client</a>

        <!-- Register Button with Animation -->
        <a href = "{% url 'log_admin' %}" class="btn btn-gas animated-button" style="background-color: rgba(255, 0, 0, 0.2);"> Login as an Admin</a>

        <!-- Image -->
    </div>
{% endblock %}
