{% extends 'base.html' %}

{% block title %}ONLINE GAS BOOKING{% endblock %}

{% block content %}
{% include  'nav.html' %}
    <hr size="5px" color="red">


    <section class="hero" >
        <h2 class="t" >Your Trusted Online Gas Booking System</h2>
        <h3 style=" text-shadow: 0 0 10px white;color:blue">Access legal services and <span style=" text-shadow: 0 0 10px white;color:red">Gas Booking</span> online.</h3>
        <br>
        <a class="cta-button" href = "{% url 'justbefore' %}">Get Started</a>
    </section>

    <div class="dynamic-data">
        <h2 class="t">Why Choose Us?</h2>
        <p>We are committed to providing you with:</p>
        <ul>
            <li>Quick and Convenient Gas Booking</li>
            <li>Safe and Reliable Gas Delivery</li>
            <li>Competitive Pricing</li>
            <li>24/7 Customer Support</li>
        </ul>
    </div>
    <div class="dynamic-data">
        <h2 class="t">Contact Us</h2>
        <p>If you have any questions or need assistance, feel free to reach out:</p>
        <p>Email: techamplifier@gasbooking.com</p>
        <p>Phone: +91 7447679060</p>
    </div>

    <section class="features">
        <div class="feature">
            <h3 style="text-shadow: 0 0 10px white;color:black">Gas Tracking</h3>
            <p style="color:blue">Monitor the progress of your gas booking online & track it.</p>
        </div>
        <div class="feature">
            <h3 style="text-shadow: 0 0 10px white;color:black">Online Registration</h3>
            <p style="color:blue">File legal documents and get your gas at door step.</p>
        </div>
        <div class="feature">
            <h3 style="text-shadow: 0 0 10px white; color:black">Virtual Booking</h3>
            <p style="color:blue">Apply For Gas remotely.</p>
        </div>
     </section>
     <hr size="5px" color="red">
     <footer>
        <p>&copy; 2023 GAS BOOKING. All rights reserved.</p>
    </footer>
     
 {% endblock %}
