   <header>
        <h1  class="s" style="font-size: 24px;" > Tech@mplifiers Gas Booking</h1>
        <nav>
            <ul>
                <li><a class="cta-button1" href = "{% url 'main' %}">Home</a></li>
                <li><a class="cta-button1" href = "{% url 'homepage' %}">Pre-View</a></li>
                <li><a class="cta-button1" href = "{% url 'about' %}">About</a></li>
                <li><a class="cta-button1" href = "{% url 'service' %}">Services</a></li>
                <li><a class="cta-button1" href = "{% url 'contact' %}">Contact</a></li>
                <li><a class="cta-button1" href = "{% url 'justbefore' %}">Login</a></li>
            </ul>
        </nav>
    </header>