 {% extends 'base.html' %}

{% block title %}ONLINE GAS BOOKING{% endblock %}

{% block content %}
{% include  'nav.html' %}
    <div class="container" style="alignment:center;">
        <h1 class="mt-4 t" style="font-size: 24px;">Registered ADMIN</h1>
        <table class="table table-bordered table-hover mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Full-Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Mobile_No</th>
                </tr>
            </thead>
            <tbody>
             {% for admin in Admin_data %}
                <tr class="table-success">
                    <td>{{ admin.fullname }}</td>
                    <td>{{ admin.email }}</td>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.mobile_no }}</td>

                </tr>
<!--                <tr class="table-success">-->
                 {% empty %}
                    <tr>
                        <td colspan="2">No registered Admin found.</td>
                    </tr>
                {% endfor %}
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- JavaScript animations/effects -->
    <script>
        // Add animation to the table rows on hover
        $(document).ready(function () {
            $("tr").hover(
                function () {
                    $(this).addClass("table-info");
                },
                function () {
                    $(this).removeClass("table-info");
                }
            );
        });
    </script>
{% endblock %}

